*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(203, 199, 199);
}
.container{
    position: relative;
    max-width: 470px;
    width: 100%;
    background-color: blue;
    padding: 20px 30px;
    border-radius: 10px;
    overflow: hidden;
}
.container header{
    text-align: center;
    margin-bottom: 40px;
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.container .form{
    margin-bottom: 100px;
}
.container form{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    gap: 20px;
}
.container form input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding-left: 20px;
    cursor: pointer;
}
input::placeholder{
    font-size: 16px;
}
.container form .check input{
    width: 16px;
    height: 16px;
}
.container form .check label{
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.container form button{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: white;
    font-size: 18px;
}
.container .login .text a{
    color: rgb(49, 38, 38);
}
.container .login{
    position: absolute;
    margin-top: -12%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: calc(100% + 220px);
    height: 100%;
    padding: 30px 140px;
    border-radius: 50%;  
    transition: all 0.20s linear;
}

.container .active .login{
    margin-top: -92%;
    border-radius: 35%;
    transition: all 0.20s linear;
}

 .login header{
    color: black;
}
.container .login input{
    border: 1px solid lightgray;
}
.login .text a{
    font-size: 16px;
    text-decoration: none;
}
.login .text a:hover{
    text-decoration: underline;
}
.container .login button{
    background-color: blue;
    color: white;
}
.container .login button:hover{
    background-color: red;
}